@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

body, html{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

h1{
	font-weight: 800;
	font-size: 50px;

}

h3{
	font-weight: bold;
	font-size: 30px;

}

h4{
	font-weight: bold;
	font-size: 20px;

}

.hero-banner{
	background-color: #007FFF;
	height: 100vh; /*viewpoint height*/
	padding: 0 20px;
	box-sizing: border-box;
}

.wrapper{
	widows: 960px;
	margin: 0 auto;

}

.hero-banner h1{
	color: white;
	margin: 14px 0 20px;
}

.hero-banner h3{
	color: white;
	margin: 0;
}


.hero-banner h4,
.hero-banner h4 a{
	color: white;
	margin: 0;
}

.character1{

}

.character2{
	
}

.character3{
	
}
a.cta, button.cta{
	font-size: 30px;
	font-weight: bold;
	color: black;
	background-color: #007FFF;
	display: inline-block;
	box-shadow: 0 0 0 10px solid rgba(0,127,255,.15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
}

a.cta.alt, button.cta.alt{
	background-color: #FFD400;
	box-shadow: 0 0 0 10px rgba(0,0,0,.15);}
/*
	<div class="hero-banner">
		<div class="wrapper">
			<h4>Rich from <a href="http://taptopkaboom.com">Tap Tap Kaboom</a> presents</h4>
			<h1>The Silliest &amp;<br>
				Most Awesome Gang<br>
				In The World</h1>
				<h3>It's Circle Guy, Hat Guy &amp; Red Guy.<br>
				They're the best of friends.</h3>
				<a class="cta alt" href="#more-info">Read More</a>
		</div>
		<div class="character1"></div>>
		<div class="character2"></div>>
		<div class="character3"></div>>
	</div>
 */